<!--Saved Articles Page-->

<div class="container">

    <div class="col s12">
        <div class="text-center">
            <h1> Saved Articles</h1>
        </div>
    </div>
    <div class="col s12">
        {{#if article}}
            {{#each article}}
                <div>
                    <div>
                        <h4>{{this.title}}</h4>
                    </div>
                    <div>
                        <p> {{this.summary}}</p>
                        <a href={{this.link}} target="_blank">{{this.link}}</a>
                        <br><br>
                        <a class="#e53935 red darken-1 waves-effect waves-light btn delete"data-id={{this._id}}>Delete</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
        <div>
            <div>
                <h4>You have no saved articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>
